<!DOCTYPE html>
<html ng-app="static">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="StaticFile CDN - a stable / fast / free CDN for open-source libs">
    <title>StaticFile CDN - a stable / fast / free CDN for open-source libs</title>
    <link rel="stylesheet" href="http://cdn.staticfile.org/typo.css/1.1/typo.css" />
    <link rel="stylesheet" href="static/app.css" />
    <link rel="shortcut icon" href="/favicon.ico" />
</head>
<body ng-controller="libListCtrl">

<div id="header" class="wrapper">
  <h1 class="typo-h1"><a href="/">Staticfile CDN</a></h1>
  <div id="nav">
    <a href="/">Home</a> /
    <a href="about_en.html#howto">Add one</a> /
    <a href="https://github.com/staticfile/static/issues" target="_blank">Feedback</a> /
    <a href="about_en.html">About</a> /
    <a href="index.html">中文</a>
  </div>
  <p id="purpose" class="typo-p">
    Our purpose is to provide a warehouse that stores great open-source libs as mush as possible and serve them via a stable &amp; fast CDN service (in China). In addition, we also providing you an entrance to submit libs, including JS / CSS / Images &amp; SWF files.
  </p>
  <pre class="install"><em>$</em> npm install -g sfile <small>
CLI tool, <a href="https://github.com/staticfile/cli#readme" target="_blank">instruction.</a></small></pre>
  <div id="query"><input id="key" type="text" ng-model="query" ng-change="fetchLibs(this)" placeholder="Search libs .." autofocus autocomplete="off"/></div>
</div>

<div id="githubbtn" class="wrapper">
  <iframe ng-src="http://ghbtns.com/github-btn.html?user=staticfile&repo=static&type=watch&count=true" allowtransparency="true" frameborder="0" height="20px" scrolling="0" width="85px"></iframe>
  <iframe ng-src="http://ghbtns.com/github-btn.html?user=staticfile&repo=static&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
</div>

<div ng-if="!query && isPopular" id="popular" class="wrapper">
  <span ng-repeat="lib in libs"><a href="#lib_{{lib.name}}"><img ng-src="static/logos/{{lib.name}}.png"/></a></span>
</div>

<div id="search">
  <ol id="libs">
    <li class="item typo" ng-repeat="lib in libs | filter:query.split(' ')[0]">
      <h3 id="lib_{{lib.name}}">{{lib.name}}</h3>
      <p class="item-description">{{lib.description}}</p>
      <table>
        <tr ng-repeat="asset in [lib.assets[0]]">
          <th><small>LATEST</small> {{asset.version}}</th>
          <td>
            <pre ng-repeat="file in asset.files"><code>http://cdn.staticfile.org/{{lib.name}}/{{asset.version}}/{{file}}</code></pre>
          </td>
        </tr>
      </table>
      <div class="item-meta typo-p">
        <a ng-if="lib.homepage" href="{{lib.homepage}}" target="_blank">homepage</a> <span ng-if="lib.homepage">/</span>
        <a ng-if="lib.repositories[0].url" href="{{lib.repositories[0].url}}" target="_blank">source</a> <span ng-if="lib.repositories[0].url">/</span>
        <a ng-if="lib.assets.length > 1" href="#id_{{lib.name | legalname}}" data-toggle="showhide">other versions &rarr;</a>
      </div>
      <table ng-if="lib.assets.length > 1" class="item-others" id="id_{{lib.name | legalname}}">
        <tr ng-repeat="asset in lib.assets.slice(1)">
          <th>{{asset.version}}</th>
          <td>
             <pre ng-repeat="file in asset.files"><code>http://cdn.staticfile.org/{{lib.name}}/{{asset.version}}/{{file}}</code></pre>
          </td>
        </tr>
      </table>
    </li>
  </ol>
</div>

<div id="footer" class="typo wrapper">
  <p id="power"><a href="http://qiniu.com" target="_blank"><img src="static/qiniu.png" /></a><br><small>CDN service provided by Qiniu Tech</small></p>
  <small>&copy; Copyright 2013 <a href="http://staticfile.org">staticfile.org</a>. Built upon love.</small>
</div>

<script src="http://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/angular.js/1.1.5/angular.min.js"></script>
<script src="static/app.js"></script>
<script type="text/javascript">
// tracker
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-43035690-1', 'www.staticfile.org');
ga('send', 'pageview');
</script>
</body>
</html>
