<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Staticfile CDN</title>
  <link rel="stylesheet" href="http://cdn.staticfile.org/typo.css/1.1/typo.css">
  <link rel="shortcut icon" href="assets/images/logo.png" />
  <link rel="stylesheet" href="assets/css/auto-complete.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <div id="wrapper">
    <header id="top-header">
      <div class="g-container">
        <div class="g-row">
          <a href="/" id="logo"><div class="logo">
            <img src="assets/images/light-logo.png" alt="">
            <span class="typo-h1">Staticfile CDN</span>
          </div></a>
          <ul class="pull-right" id="nav">
            <a :href="`about${language == 'en' ? '_en' : ''}.html#howto`"><li class="nav-item add-project">{{'add-one' | i18n}}</li></a>
            <a href="https://github.com/staticfile/static/issues"><li class="nav-item">{{'feedback' | i18n}}</li></a>
            <a :href="`about${language == 'en' ? '_en' : ''}.html`"><li class="nav-item">{{'about' | i18n}}</li></a>
            <a :href="`/?ln=${language == 'en' ? 'zh' : 'en'}`"><li class="nav-item">{{'switch-language' | i18n}}</li></a>
          </ul>
        </div>
        <div class="g-row" id="purpose">
          <p id="purpose-text" class="typo-p">{{'purpose' | i18n}}</p>
          <pre id="install"><em>$</em> npm install -g sfile <small><span v-html="i18n('install-tip')"></span></small></pre>
        </div>
        <div class="g-row">
          <div id="query">
            <input type="text" id="key" v-model="query" ref="query" :placeholder="i18n('query-placeholder')" />
          </div>
        </div>
      </div>
    </header>
    <div id="search-bar" ref="searchBar" class="sticky">
      <div class="g-container">
        <div class="logo" v-if="sticky">
          <img src="assets/images/light-logo.png" alt="">
          <span>Staticfile CDN</span>
        </div>
        <span id="logo-placeholder" :class="{ center: !sticky }">免费、快速、开放的 CDN 服务</span>
        <div class="pull-right">
          <input type="text" id="search-bar-query"
            :class="{ hidden: !sticky }"
            :placeholder="i18n('query-placeholder')"
            v-model="query"
            ref="searchBarQuery" />
        </div>
      </div>
    </div>
    <div class="loader" v-if="loading"></div>
    <section id="libs" v-scroll:windoweditems="libs">
      <div class="item typo" v-for="lib in libs" :id="`lib_${lib.name}`">
        <h3>{{lib.name}}</h3>
        <p class="item-description">{{lib.description}}</p>
        <div class="protocal-toggler">
          <a href="" :class="{ 'active': lib.domain == httpsDomain }" @click.prevent="lib.domain = httpsDomain">HTTPS</a>
          <a href="" :class="{ 'active': lib.domain == httpDomain }" @click.prevent="lib.domain = httpDomain">HTTP</a>
          <div class="versions-select" :class="{ expanded: lib.expanded }" @click.prevent="openSelect(lib)" @mouseleave.prevent="openSelect(lib, false)">
            <span class="versions-select-value">{{lib.version}}</span>
            <div class="versions">
              <label :value="version" v-for="version in lib.versions" @click="selectVersion(lib, version)">{{version}}</label>
            </div>
          </div>
        </div>
        <table>
          <tbody>
            <tr>
              <td>
                <pre v-for="file in lib.files" class="assetFile"><code @mouseenter="hoverToSelect" @click.prevent="clickToCopy(lib)">{{lib.domain}}/{{lib.name}}/{{lib.version}}/{{file}}</code></pre>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="item-meta">
          <a v-if="lib.homepage" :href="lib.homepage" target="_blank">{{'homepage' | i18n}}</a>
          <span v-if="lib.homepage">/</span>
          <a v-if="lib.repositories[0] && lib.repositories[0].url" :href="lib.repositories[0].url" target="_blank">{{'source' | i18n}}</a>
        </div>
      </div>
    </section>
    <div class="typo" id="footer">
      <div class="g-container">
        <p id="power"><a href="http://qiniu.com" target="_blank"><img src="assets/images/qiniu.png"></a><br><small>{{'powered' | i18n}}</small></p>
        <p><small>备案号 沪ICP备11037377号-26</small></p>
        <small>© Copyright 2014 - 2016 <a href="http://staticfile.org">staticfile.org</a>. Built upon love.</small>
      </div>
    </div>
    <transition name="message-fade">
      <div class="message" v-show="copied">
        <img class="message__icon" src="assets/images/success.svg" alt="">
        <div class="message__group">
          <p>复制成功</p>
        </div>
      </div>
    </transition>
  </div>
  <script src="http://cdn.staticfile.org/fetch/0.10.1/fetch.min.js"></script>
  <script src="assets/js/stickyfill.min.js"></script>
  <script src="assets/js/auto-complete.js"></script>
  <script src="assets/js/vue.min.js"></script>
  <script src="assets/js/build.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-85935748-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>