<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.js"></script>
<div id="app">
  <span>{{value}}</span>
  <span class="dropdown-el" :class="{ expanded: expanded }" @click.prevent="openSelect">
    <input type="radio" name="sortType" v-model="value" @click="select" value="Relevance" id="sort-relevance"><label for="sort-relevance">Relevance</label>
    <input type="radio" name="sortType" v-model="value" @click="select" value="Popularity"  id="sort-best"><label for="sort-best">Product Popularity</label>
    <input type="radio" name="sortType" v-model="value" @click="select" value="PriceIncreasing" id="sort-low"><label for="sort-low">Price Low to High</label>
    <input type="radio" name="sortType" v-model="value" @click="select" value="PriceDecreasing" id="sort-high"><label for="sort-high">Price High to Low</label>
    <input type="radio" name="sortType" v-model="value" @click="select" value="ProductBrand" id="sort-brand"><label for="sort-brand">Product Brand</label>
    <input type="radio" name="sortType" v-model="value" @click="select" value="ProductName" id="sort-name"><label for="sort-name">Product Name</label>
  </span>
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      expanded: false,
      checked: "",
      value: "A"
    },
    
    methods: {
      openSelect() {
        this.expanded = !this.expanded
      },
      select(e) {
        e.target.click()
      }
    }
  })
</script>