* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
}

pre {
  border: none;
}

a {
  color: #1abc9c;
}

::-moz-selection {
  background: #1abc9c;
}

::selection {
  background: #1abc9c;
}


/* Header */

#top-header {
  background: #1abc9c;
  color: #fff;
  width: 100%;
  padding-bottom: 20px;
}

.g-container {
  max-width: 1024px;
  margin: 0 auto;
}

.g-row {
  width: 100%;
  display: block;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

#top-header .g-row:first-child {
  padding-top: 30px;
}

a#logo {
  color: #FFF;
}

.logo {
  display: inline-block;
}

.logo img {
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
}

.logo span {
  line-height: 50px;
  height: 50px;
  margin-left: 5px;
  font-size: 25px;
  vertical-align: middle;
  font-weight: bold;
}

#nav {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}

#nav li {
  float: left;
}

#nav a {
  color: #FFF;
  text-decoration: none;
}

.nav-item {
  padding: 10px;
  color: #FFF;
  border-radius: 5px;
  font-size: 16px;
  line-height: 16px;
  margin-left: 5px;
  cursor: pointer;
  border: none;
}

.nav-item:hover {
  color: #FFF !important;
  background: rgba(66, 205, 178, 0.7);
}

.nav-item.add-project {
  background: rgba(66, 205, 178, 0.7);
}

#purpose {
  margin: 30px auto 0 auto;
  width: 65%;
  text-align: center;
}

#purpose-text {
  font-size: 15px;
  line-height: 24px;
  max-width: 600px;
  margin: 0 auto;
}

#install {
  font-weight: 900;
  width: 370px;
  max-width: 100%;
  margin: 15px auto;
  color: #5fbc0e;
  background: #000;
  background: rgba(0, 0, 0, 0.6);
  line-height: 1.3;
  padding: 10px 20px;
  position: relative;
  border-radius: 3px;
  box-sizing: content-box;
  white-space: nowrap;
  overflow-x: scroll;
}

#install em {
  color: #aaa;
  font-style: normal;
}

#install small {
  color: #aaa;
  font-weight: normal;
}

#install small a {
  color: #ccc!important;
  text-decoration: underline;
}

#query #key {
  width: 75%;
  max-width: 1000px;
  padding: 10px;
  margin: 0 auto;
  display: block;
  clear: both;
  border: 5px solid #16a085;
  text-align: center;
  outline: none;
}


/* Search Bar */

#search-bar {
  width: 100%;
  color: #fff;
  display: block;
  padding: 10px;
  background: #16a085;
  overflow: hidden;
  z-index: 99;
}

#search-bar .logo img {
  height: 36px;
  line-height: 10px;
  vertical-align: middle;
}

#search-bar .logo span {
  line-height: 36px;
  height: 36px;
  margin-left: 5px;
  font-size: 20px;
  vertical-align: middle;
  font-weight: bold;
}

#search-bar #logo-placeholder {
  font-size: 18px;
  line-height: 36px;
  font-weight: bold;
  margin-left: 3rem;
}

#search-bar #logo-placeholder.center {
  display: block;
  text-align: center;
}

#search-bar-query {
  padding: 11px;
  margin: 0;
  clear: both;
  font-size: 14px;
  border: none;
  outline: none;
  height: 36px;
  line-height: 36px;
  vertical-align: top;
  border-radius: 5px;
  width: 350px;
}

#search-bar-query.hidden {
  display: none;
}


/* Sticky */

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.sticky:before,
.sticky:after {
  content: '';
  display: table;
}


/* Libraies */

.item {
  background: #ecf0f1;
  padding: 2% 10%;
}

.item:nth-child(2n) {
  background: #fff;
}

.item pre {
  background: none;
  border: none;
  padding: 0;
  margin-bottom: 0;
}

.item h3 {
  text-transform: uppercase;
}

.item-description {
  clear: both;
}

.item-meta {
  color: #ddd;
}

.item-others {
  display: none;
}

.item table {
  width: 100%;
  background: #fff;
}

.item table th {
  vertical-align: text-top;
  width: 20%
}

.show-table {
  display: table;
}

.protocal-toggler {
  overflow: hidden;
  position: relative;
  display: inline;
}

.protocal-toggler a {
  float: left;
  padding: 0.2em 1em;
  color: #a0a0a0;
  background-color: #e4e4e4
}

.protocal-toggler a.active {
  color: #fff;
  background: rgba(66, 205, 178, 0.7);
}

/* Organization */

#organization {
    max-width: 600px;
    margin: 2em auto 1em;
    text-align: center;
    color: #999;
}

#organization .logo {
    max-height: 50px;
}

#organization .cross {
    display: inline-block;
    margin: 0 24px;
    font-size: 30px;
    vertical-align: top;
}

/* Social Share */

#share {
    max-width: 600px;
    margin: 2em auto;
    text-align: center;
}

#share-title {
    font-size: 18px;
    margin-bottom: 1em;
}

.share-button {
    display: inline-block;
    border: 1px solid #888;
    border-radius: 4px;
    color: #888;
    text-decoration: none !important;
    padding: 1px 7px;
    vertical-align: baseline;
    cursor: pointer;
}

.share-button + .share-button {
    margin-left: 10px;
}

.share-button .share-button-logo {
    height: 18px;
    position: relative;
    top: 3px;
    margin-right: 5px;
}

#weibo {
    color: #FF8141;
    border-color: #FF8141;
}

#weibo svg {
    fill: currentColor;
}

#weixin {
    color: #58C867;
    border-color: #58C867;
    position: relative;
}

#weixin svg {
    fill: currentColor;
}

#weixin .qr {
    position: absolute;
    top: 30px;
    left: -15px;
    width: 100px;
    opacity: 0;
    transform: scale(0);
    transform-origin: top center;
    transition: opacity .3s, transform .3s;
}

#weixin:hover .qr {
    opacity: 1;
    transform: scale(1);
}

#twitter {
    color: #5AC7EE;
    border-color: #5AC7EE;
}

#twitter svg {
    fill: currentColor;
}

#github {
    color: #313131;
    border-color: #313131;
}

#github svg {
    fill: currentColor;
}


/* Footer */

#footer {
  text-align: center;
  padding: 2% 10%;
}

#power {
  margin: 2em 0 1em;
}

#power img {
  max-width: 200px;
}


/* Loader */

.loader {
  color: #666;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: loader 1.3s infinite linear;
  animation: loader 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

@-webkit-keyframes loader {
  0%,
  100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

@keyframes loader {
  0%,
  100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}


/* Doc */

.wrapper {
  padding: 2% 10%;
}

.doc {
  background: #ecf0f1;
  border-top: 10px solid #1abc9c;
  padding-top: 30px;
}

.doc #about a {
  text-decoration: underline;
}

.doc #githubbtn {
  background: none;
}

.doc h3 {
  border-top: 1px solid #ddd;
  padding-top: 1em;
}

.doc h3:first-of-type {
  border-top: none;
}

.doc h1 {
  font-size: 2.5em!important;
  text-shadow: none;
  float: left;
  font-family: Hiragino Mincho ProN, Simsum Georgia serif;
  line-height: 1em;
  color: #fff9d6;
  font-weight: bold;
}

.doc h1 a {
  color: #666;
}

.doc #nav {
  color: #ddd;
  display: block;
}

.doc #nav a,
.doc #nav .nav-item {
  color: #16a085;
}
.doc pre {
  padding: 10px 20px;
  background: #f8f8f8;
  line-height: 1.2;
}

.doc a#logo {
  color: #444;
}

.doc #header {
  width: 70%;
  max-width: 900px;
  box-sizing: content-box;
  margin: 0 auto;
}

.doc .prettyprint {
  font-family: Courier, "Courier New", monospace;
  border: none;
  border-bottom: 3px solid #ddd;
  background: #f9f9f9;
  padding: 15px 15px 0;
}

.doc .com {
  color: #888;
}

.doc .pun {
  color: #999;
}

.doc .str {
  color: #333;
}

#about {
  max-width: 600px;
  margin: 0 auto;
  font-family: Hiragino Mincho ProN, Simsum Georgia serif;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  box-sizing: content-box;
}

.assetFile {
  position: relative;
  height: 25px;
}

.assetFile .tooltip {
  background: #16a085;
  bottom: 100%;
  color: #fff;
  display: block;
  left: 20px;
  margin-bottom: 15px;
  font-size: 12px;
  opacity: 0;
  padding: 10px;
  pointer-events: none;
  position: absolute;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -ms-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

.assetFile .tooltip:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}

.assetFile .tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #16a085 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}

.assetFile:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

.message {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25), 0 0 6px 0 rgba(0, 0, 0, .1);
  min-width: 160px;
  padding: 10px 12px;
  box-sizing: border-box;
  border-radius: 2px;
  position: fixed;
  left: 50%;
  top: 8%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  -webkit-transition: opacity .3s, -webkit-transform .4s;
  transition: opacity .3s, -webkit-transform .4s;
  transition: opacity .3s, transform .4s;
  transition: opacity .3s, transform .4s, -webkit-transform .4s;
  overflow: hidden;
  z-index: 2000
}

.message .icon-circle-check {
  color: #13ce66
}

.message .icon-circle-cross {
  color: #ff4949
}

.message.icon-information {
  color: #50bfff
}

.message .icon-warning {
  color: #f7ba2a
}

.message__group {
  margin-left: 38px;
  position: relative
}

.message__group p {
  font-size: 16px;
  line-height: 20px;
  white-space:nowrap;
  color: #777;
  text-align: center;
}

.message__icon {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 0
}

.message__closeBtn {
  top: 3px;
  right: 0;
  position: absolute;
  cursor: pointer;
  color: #c0ccda;
  font-size: 14px
}

.message__closeBtn:hover {
  color: #99a9bf
}

.message-fade-enter,
.message-fade-leave-active {
  opacity: 0;
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%)
}
.versions-select {
  min-width: 12em;
  position: absolute;
  display: inline-block;
  min-height: 1em;
  max-height: 2em;
  overflow: hidden;
  margin-left: 1rem;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  color: #FFF;
  outline: none;
  border: .06em solid transparent;
  border-radius: 1em;
  background-color: rgb(116, 215, 197);
  transition: 0.3s max-height ease-in-out;
  z-index: 88;
}
.versions-select .versions-select-value, .versions-select label {
  border-top: .06em solid #d9d9d9;
  display: block;
  height: 2em;
  line-height: 2em;
  padding-left: 1em;
  padding-right: 3em;
  cursor: pointer;
  position: relative;
  transition: 0.3s color ease-in-out;
}
.versions-select .versions-select-value {
  border: none;
}
.versions-select label {
  border-top: .06em solid #d9d9d9;
}
.versions-select::after {
  content: "";
  position: absolute;
  right: 0.8em;
  top: 0.9em;
  border: 0.3em solid #16a085;
  border-color: #16a085 transparent transparent transparent;
  transition: .4s all ease-in-out;
}
.versions-select.expanded {
  color: #444;
  border: 0.06em solid rgba(66, 205, 178, 0.7);
  background: #fff;
  border-radius: .25em;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
  max-height: 17em;
}
.versions-select.expanded label {
  border-top: .06em solid #d9d9d9;
}
.versions-select.expanded label:hover {
  color: #1abc9c;
}
.versions-select.expanded input:checked + label {
  color: #1abc9c;
}
.versions-select.expanded::after {
  transform: rotate(-180deg);
  top: .55em;
}
.versions-select .versions {
  max-height: 15em;
  overflow-y: scroll;
}
