html{overflow-y:scroll;}
body{position:relative;}
h1{float:left;}
h1 a{color:#fff;}
pre{border:none;}
a{color:#1abc9c;}

::-moz-selection{background:#1abc9c;}
::selection{background:#1abc9c;}

.wrapper{padding:2% 10%;}

.item{background:#ecf0f1;padding:2% 10%;}
.item:nth-child(2n){background:#fff;}
.item pre{background:none;border:none;padding:0;margin-bottom:0;}
.item h3{text-transform:uppercase;float:left;}
.item .current{float:right;}
.item-description{clear:both;}
.item-others{display:none;background:#fff;width:100%;}
.item-meta{color:#ddd;}

#query{width:60%;margin:0 auto 3%;}
#query input{width:100%;padding:10px;border:5px solid #16a085;text-align:center;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}

#header{background:#1abc9c;color:#fff;}
#header a{color:#fff;}
#nav{float:right;}
#nav{color:#ecf0f1;}
#libs{border-bottom:1px solid #ecf0f1;}
#purpose{clear:both;max-width:600px;padding-top:30px;margin:0 auto 30px;text-align:center;}
#footer{font-family:Georgia,serif;font-style:italic;}

@media all and (max-width:768px) {
    #query{width:100%;}

    h1{font-family:Hiragino Mincho ProN, Georgia serif;font-size:3em!important;}
    h1, #nav{float:none;text-align:center;}
    #nav{color:#40a081;}
    #nav a{color:#ffc;}

    .item h3, .item .current{float:none;}
    .item .current{border-bottom:1px solid #ddd;border-top:1px solid #ddd;padding:10px 0;margin-bottom:10px;}
}