html{overflow-y:scroll;}
body{position:relative;}
h1{float:left;}
h1 a{color:#fff;}
pre{border:none;}
a{color:#1abc9c;}

::-moz-selection{background:#1abc9c;}
::selection{background:#1abc9c;}

.wrapper{padding:2% 10%;}

.item{background:#ecf0f1;padding:2% 10%;}
.item:nth-child(2n){background:#fff;}
.item pre{background:none;border:none;padding:0;margin-bottom:0;}
.item h3{text-transform:uppercase;float:left;}
.item .current{float:right;}
.item-description{clear:both;}
.item-others{display:none;background:#fff;width:100%;}
.item-meta{color:#ddd;}
.item table th{vertical-align:text-top;}

#query{width:60%;margin:0 auto 3%;}
#query input{width:100%;padding:10px;border:5px solid #16a085;text-align:center;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-border-radius:0;}
#query input:focus{outline:none;}

#header{background:#1abc9c;color:#fff;}
#header a{color:#fff;}
#nav{float:right;}
#nav{color:#ecf0f1;}
#libs{border-bottom:1px solid #ecf0f1;}
#about{max-width:600px;margin:0 auto;font-family:Hiragino Mincho ProN, serif;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
#purpose{clear:both;max-width:600px;padding-top:30px;margin:0 auto 30px;text-align:center;}
#footer{font-family:Georgia,serif;font-style:italic;text-align:center;}
#power{margin:2em 0 1em;}


.doc{background:#ecf0f1;border-top:10px solid #1abc9c;padding-top:30px;}
.doc #about a{text-decoration:underline;}
.doc #header{display:none;}
.doc h3{border-top:1px solid #ddd;padding-top:1em;}
.doc h3:first-of-type{border-top:none;}
.doc h1{font-family:Hiragino Mincho ProN, Georgia serif;font-size:2.5em!important;}
.doc h1 a{color:#333;}
.doc h1, .doc #nav{float:none;text-align:center;}
.doc #nav{color:#40a081;margin:1em 0}
.doc #nav a{color:#16a085;}
.doc pre{padding:10px 20px;background:#f8f8f8;line-height:1.2;}

@media all and (max-width:768px) {
    #query{width:100%;}

    h1{font-family:Hiragino Mincho ProN, Georgia serif;font-size:3em!important;}
    h1, #nav{float:none;text-align:center;}
    #nav{color:#40a081;}
    #nav a{color:#ffc;}

    .item h3, .item .current{float:none;}
    .item h3{word-break:break-all;word-wrap:break-word;}
    .item .current small{display:none;}
    .item .current{border-bottom:1px solid #ddd;border-top:1px solid #ddd;padding:10px 0;margin-bottom:10px;}
}

@media all and (max-width:320px) {
    h1{font-size:28px!important;}

    #footer img{width:200px;}
    #query{border-width:5px 0;width:100%;position:absolute;bottom:-10px;left:0;}
    #header{position:relative;padding-bottom:40px;}
}